.repo-item {
    .repo-item {
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .repo-item h3 {
        font-size: 1.2rem;
        margin: 0;
      }
      
      .last-updated {
        font-size: 0.9rem;
        color: #555;
        margin: 5px 0;
      }
      
      .like-section {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      
      .like-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: rgb(172, 130, 239);
        padding: 0;
      }
      
      .like-button:hover {
        transform: scale(1.2);
      }
      
      .likes-count {
        font-size: 0.9rem;
        color: #090000;
        font-weight: bold;
        font-family: 'roboto', sans-serif;
      }
    }      