.add-friend-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
 
  .modal-content {
    background: linear-gradient(to bottom, #eae7f7, #d6c3f8);
    padding: 30px;
    border-radius: 15px;
    width: 70%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .confirmation-screen .user-details {
    margin-bottom: 20px;

  }
  
  .action-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .profile-button,
  .message-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(90deg, #6e41e2, #8a6cf0);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-button:hover,
  .message-button:hover {
    background: linear-gradient(90deg, #8a6cf0, #6e41e2);
    transform: translateY(-2px);
  }
  
  .profile-button:active,
  .message-button:active {
    transform: translateY(0);
  }
  
  .confirm-btn,
  .cancel-btn {
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 0.3s ease;
  }
  
  .confirm-btn {
    color: green;
  }
  
  .cancel-btn {
    color: red;
  }
  
  .confirm-btn:hover,
  .cancel-btn:hover {
    transform: scale(1.2);
  }
  
  