body {
  margin: 0;
  padding: 0;
  font-family: 'arial', sans-serif;
  background: linear-gradient(to bottom, #8d7bd3, #c5bdd3);
  min-height: 100vh;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

/* App Container */
.app-container {
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  color: white;
  width: 100%;
  max-width: 1200px; /* Prevent header from expanding too far out */
  margin: 0 auto; /* Centers the header horizontally */
  box-sizing: border-box; /* Include padding in width calculation */
}

.header-left {
  display: flex;
  align-items: center;
}

.github-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-size: 1.8rem;
}

/* Header Right - Authentication Links Styling */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px; /* Add gap to evenly space out items */
}

.auth-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Makes sure buttons do not go outside of the viewport */
}

.nav-button {
  padding: 10px 15px;
  background-color: #6e41e2;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  overflow: hidden; /* Prevent content overflow */
}

.nav-button:hover {
  background-color: #5c35b3;
}

/* Firebase Auth Container Styling */
.firebase-auth-container {
  margin-top: 80px;
  text-align: center;
}

.firebase-auth-container input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.firebase-auth-container button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6e41e2;
  color: white;
  cursor: pointer;
}

.firebase-auth-container button:hover {
  background-color: #5a35b3;
}

/* Description Text */
.description {
  font-family: Kalnia, sans-serif;
  font-size: 3.2rem;
  font-weight: 520;
  margin-top: 150px;
  margin-bottom: 40px;
  text-align: center;
}

/* Adjust Header Background with Logo */
.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./assets/logo.png') no-repeat center center;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
  background-size: cover;
}

/* Search Bar Container Styling */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

/* Search Input Styling */
.search-input {
  width: 50%;
  max-width: 500px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

/* Search Button Styling */
.search-button {
  padding: 15px 20px;
  background-color: #6e41e2;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #5c35b3;
  transform: translateY(-2px);
}

.search-button:active {
  transform: translateY(0);
}

/* Friends List Button Styling */
.friends-list-button {
  padding: 10px 15px;
  background-color: #6e41e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
  white-space: nowrap; /* Prevents text wrapping */
}

.friends-list-button:hover {
  background-color: #5c35b3;
}

.logout-button {
  padding: 1px 10px;
  background-color: #343434;
  color: white;
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #5c35b3;
}